{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk/">Home</a></li>
      <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs">HM Revenue & Customs</a></li>
      <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact">Contact HM Revenue & Customs</a></li>
    </ol>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Wills, probate and inheritance
      </h1>
<aside class"part-navigation-continer">
      <ol class="list column-half">
        <ol class="list list-number">
        <li><a href="/wills-probate-inheritance">Overview</a></li>
        <li><a href="/wills-probate-inheritance/if-the-person-left-a-will">If the person left a will</a></li>
        <li><a href="/wills-probate-inheritance/if-the-person-didnt-leave-a-will">If the person didn't leave a will</a></li>
        <li>Applying for a grant of representation</li>
      </ol>
      </ol>
      <ol class="list column-half">
        <ol class="list list-number" start="5">

        <li><a href="/wills-probate-inheritance/once-the-grants-been-issued">Once the grant's been issued</a></li>
        <li><a href="/wills-probate-inheritance/stopping-a-grant-of-representation">Stopping a grant of representation</a></li>
        <li><a href="/wills-probate-inheritance/property-and-bank-accounts">Property and bank accounts</a></li>
        <li><a href="/wills-probate-inheritance/searching-for-probate-records">Search for probate records</a></li>
      </ol>

      </ol>

</aside>


<br><br><br><br><br><br><br>
<hr>
  <h2 class="heading-medium">4. Applying for a grant of representation</h2>
      <p>
        You can apply for a grant of representation yourself or use a solicitor or another person licensed to provide probate services.
      </p>
<p>There are 4 steps to follow.</p>
      <ul class="list list-number">
        <li>Complete a probate application form.</li>
        <li>Complete an Inheritance Tax form.</li>
        <li>Send your application.</li>
        <li>Swear an oath.</li>
      </ul>

      <div class="form-group">
        <div class="panel panel-border-narrow">

          <!-- Place this code snippet anywhere you want the button to appear in your page. If no button has been configured in the chat script, it will not show up nor take any space. -->
          <div id="__8x8-chat-button-container-script_4223821759b1050b864a48.67463319"></div>

          <!-- This script will not interfere with the button layout, you just need to include it in the same page. It must also be within the <body> section of the page, preferably just before the ending tag. -->
          <script type="text/javascript">
              var __8x8Chat = {
                  uuid: "script_4223821759b1050b864a48.67463319",
                  tenant: "bWluaXN0cnlvZmp1c3RpY2UwMQ",
                  channel: "CEChat",
                  domain: "https://vcc-eu3.8x8.com",
                  path: "/.",
                  buttonContainerId: "__8x8-chat-button-container-script_4223821759b1050b864a48.67463319",
                  align: "right"
              };

              (function() {
                  var se = document.createElement("script");
                  se.type = "text/javascript";
                  se.async = true;
                  se.src = __8x8Chat.domain + __8x8Chat.path + "/CHAT/common/js/chat.js";

                  var os = document.getElementsByTagName("script")[0];
                  os.parentNode.insertBefore(se, os);
              })();
          </script>

        </div>
      </div>


      <h2 class="heading-medium">Complete a probate application form</h2>

    <p>You can either:</p>
          <ul class="list list-bullet">
            <li>fill in the probate <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=735">application form PA1 yourself</a></li>
            <li>call the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/probate-and-inheritance-tax-enquiries">Probate and Inheritance Tax helpline </a> to get help filling in the form</li>
          </ul>


          <div class="form-group">
            <div class="panel panel-border-narrow">
<p>Complete <a href="https://www.gov.uk/government/publications/inheritance-tax-confirmation-c1">form C1 </a> to apply for <a href="https://www.scotcourts.gov.uk/taking-action/dealing-with-a-deceased%27s-estate-in-scotland">confirmation</a> in Scotland.</p>
</div>
</div>


      <h2 class="heading-medium">Complete an Inheritance Tax form</h2>

      <p>You must <a href="https://www.gov.uk/valuing-estate-of-someone-who-died">work out how much the estate is worth.</a> Depending on its value, there may be <a href="https://www.gov.uk/inheritance-tax">Inheritance Tax </a>to pay.</p>
      <p>You must also fill in the appropriate <a href="https://www.gov.uk/valuing-estate-of-someone-who-died/forms"> Inheritance Tax form </a>- even if you think no tax is owed.</p>
      <p>You may get a <a href="https://www.gov.uk/government/publications/compliance-checks-penalties-for-inaccuracies-in-returns-or-documents-ccfs7a"> penalty </a>if you send inaccurate information on your Inheritance Tax form.</p>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <p>
            If there’s tax to pay, you normally have to pay at least some of it before a grant of representation is issued to you.
          </p>
        </div>
      </div>

      <p>You can claim the tax back from the estate or the beneficiaries, if you pay it out of your own bank account.</p>


    <h2 class="heading-medium">Send your application</h2>
        <p>
          Send your application to your local <a href="https://courttribunalfinder.service.gov.uk/search/postcode?aol=Probate">Probate Registry</a>.
        </p>
  <p>You should include:</p>
        <ul class="list list-bullet">
          <li>the probate application form PA1</a></li>
          <li>an official copy of the <a href="https://www.gov.uk/after-a-death/register-the-death"> death certificate</a></li>
          <li>the original will and 3 copies - and any codicils (additions or amendments to it)</li>
          <li>the application fee of £215 - a cheque made payable to HM Courts and Tribunals Service (there’s no fee if the estate is under £5,000)</li>
        </ul>

        <p>
          You can pay for extra copies of the grant (50p each) - this means you can send them to different organisations at the same time.
        </p>



        <h2 class="heading-medium">Swear an oath</h2>

            <p>The probate office will send you an oath and details of how to arrange an appointment. You’ll need to swear the oath at either:</p>
            <p>You should get the grant through the post within 10 working days of swearing the oath.</p>
            <ul class="list list-bullet">
              <li>the office of a commissioner for oaths (usually a solicitor)</li>
              <li>a local probate office</li>
              </ul>


            <p>  The oath is a promise that the information you’ve given is true to the best of your knowledge.</p>


  <p>You should get the grant through the post within 10 working days of swearing the oath.</p>


  <div class="form-group">
    <div class="panel panel-border-narrow">
      <p>
        If it’s not possible to issue a grant, the Probate Service will explain why in writing.
      </p>
    </div>
  </div>



</div>





    <div class="column-third add-title-margin">
      <aside class="govuk-related-items">
        <h2 class="heading-medium"> Death and bereavement</h2>
          <ul>
            <li><a href="https://www.gov.uk/inheritance-tax">Inheritance Tax</a></li>
            <li><a href="https://www.gov.uk/make-will">Making a will</a></li>
            <li><a href="https://www.gov.uk/unclaimed-estates-bona-vacantia">Claim or refer an unclaimed estate</a></li>
            <li><a href="https://www.gov.uk/valuing-estate-of-someone-who-died">Valuing the estate of someone who's died</a></li>
            <li><a href="https://www.gov.uk/after-a-death">What to do after someone dies</a></li>
            <li><a href="https://www.gov.uk/browse/births-deaths-marriages/death">More</a></li>

          </ul>


        </div>

  </div>
</div>
</main>

{% endblock %}
