{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">



  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        User Experience Design
      </h1>

  <h2 class="heading-medium">  Change Programme</h2>


  <div class="form-group">
    <div class="panel panel-border-narrow">
      <p>
        Sprint 4 <br> Start date: 19/09/2017 <br> End date: 06/10/2017
      </p>

    </div>
  </div>

      <table>
        <thead>
          <tr>
            <th scope="col">Page Name</th>
            <th class="numeric" scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="contact us">Contact us <a></th>
            <td class="numeric">breif about the design goes here</td>
          </tr>
          <tr>
            <th scope="row"><a href="Application page">Application page</a></th>
            <td class="numeric">breif about the design goes here</td>
          </tr>
          <tr>
            <th scope="row"><a href="Search Results">Search Results</a></th>
            <td class="numeric">breif about the design goes here</td>
          </tr>
        </tbody>
      </table>


  </div>

</main>

{% endblock %}
