{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk/">Home</a></li>
      <li><a href="https://courttribunalfinder.service.gov.uk/search/">Find a court or tribunal</a></li>
      <li><a href="https://courttribunalfinder.service.gov.uk/search/aol?aol=Probate">About your issue</a></li>
      <li><a href="https://courttribunalfinder.service.gov.uk/search/postcode?aol=Probate&spoe=None&postcode=cr0%206lj">Search by postcode</a></li>
    </ol>
  </div>


  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Search results
      </h1>

      <p>
        These are the 10 courts or tribunals nearest cr0 6lj.
      </p>

      <div class="form-group">
        <div class="panel panel-border-narrow">
            <!-- Place this code snippet anywhere you want the button to appear in your page. If no button has been configured in the chat script, it will not show up nor take any space. -->
            <div id="__8x8-chat-button-container-script_4223821759b1050b864a48.67463319"></div>

            <!-- This script will not interfere with the button layout, you just need to include it in the same page. It must also be within the <body> section of the page, preferably just before the ending tag. -->
            <script type="text/javascript">
                var __8x8Chat = {
                    uuid: "script_4223821759b1050b864a48.67463319",
                    tenant: "bWluaXN0cnlvZmp1c3RpY2UwMQ",
                    channel: "CEChat",
                    domain: "https://vcc-eu3.8x8.com",
                    path: "/.",
                    buttonContainerId: "__8x8-chat-button-container-script_4223821759b1050b864a48.67463319",
                    align: "right"
                };

                (function() {
                    var se = document.createElement("script");
                    se.type = "text/javascript";
                    se.async = true;
                    se.src = __8x8Chat.domain + __8x8Chat.path + "/CHAT/common/js/chat.js";

                    var os = document.getElementsByTagName("script")[0];
                    os.parentNode.insertBefore(se, os);
                })();
            </script>

</div>
</div>

      <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th class="numeric" scope="col"></th>
        <th class="numeric" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <h2 class="heading-medium">London Probate Department</h2> <h2 class="heading-small">Write to us:</h2>Principal Registry of the Family Division<br>7th Floor
          <br>42-49 High Holborn<br>First Avenue House<br>Holborn<br>WC1V 6NP
          <h2 class="heading-small">DX: </h2> <p>160011 Kingsway 7</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about London Probate Department</a></p></th>


        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>


      <tr>
        <th scope="row">
          <h2 class="heading-medium">Maidstone Probate Sub-Registry</h2> <h2 class="heading-small">Write to us:</h2>Wiliam Street<br>Brighton<br>BN2 0RF
          <h2 class="heading-small">DX: </h2> <p>98073 Brighton 3</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about Maidstone Probate Department</a></p></th>

        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>

      <tr>
        <th scope="row">
          <h2 class="heading-medium">Brighton District Probate Registry</h2> <h2 class="heading-small">Write to us:</h2>Wiliam Street<br>Brighton<br>BN2 0RF
          <h2 class="heading-small">DX: </h2> <p>98073 Brighton 3</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about Brighton Probate Department</a></p></th>


        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>

      <tr>
        <th scope="row">
          <h2 class="heading-medium">Oxford District Probate Registry</h2> <h2 class="heading-small">Write to us:</h2>Combined Court Building<br>St Aldates<br>Oxford<br>OX1 1LY
          <h2 class="heading-small">DX: </h2> <p>96454 Oxford 4</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about Oxford Probate Department</a></p></th>


        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>

      <tr>
        <th scope="row">
          <h2 class="heading-medium">Ipswich District Probate Registry</h2> <h2 class="heading-small">Write to us:</h2>Ground Floor<br>8 Arcade Street<br>Ipswich<br>IP1 1EJ
          <h2 class="heading-small">DX: </h2> <p>97733 Ipswich 3</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about Ipswich Probate Department</a></p></th>

        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>

      <tr>
        <th scope="row">
          <h2 class="heading-medium">Winchester District Probate Registry</h2> <h2 class="heading-small">Write to us:</h2>1st Floor<br>Southside Offices<br>The Law Courts<br>Winchester<br>SO23 9EL
          <h2 class="heading-small">DX: </h2> <p>96900 Winchester 2</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about Winchester Probate Department</a></p></th>


        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>

      <tr>
        <th scope="row">
          <h2 class="heading-medium">Leicester Probate Sub Registry</h2> <h2 class="heading-small">Write to us:</h2>Oxford District Probate Registry<br>Combined Court Building<br>St Aldates<br>Oxford<br>OX1 1LY
          <h2 class="heading-small">DX: </h2> <p>96454 Oxford 4</p>
          <p><a href="https://www.gov.uk/wills-probate-inheritance">More details about London Probate Department</a></p></th>


        <td class="numeric"></td>
        <td class="numeric"></td>
      </tr>


    </tbody>
  </table>


      

        </div>

  </div>

</main>

{% endblock %}
